<div class="container">

  <div class="row">
    <div class="col-sm-12">
      <div class="coloredDiv">Order a Burger to add</div>
      <form class="create-form center">
        <div class="form-group">
          <label style="font-size:20px" for="burger"><strong>Burger Name:</strong></label>
          <input type="text" id="burger" name="burger">
          <button type="submit" class="btn btn-primary">Add Burger</button>
        </div>
        <div>Enter a burger you want to eat and click <strong>Submit</strong> button</div>
      </form>
    </div>
  </div>
  <br>

  <div class="row">
    <div class="col-sm-6">
      <div class="coloredDiv">Burgers Ordered</div>
      <ul class="list-group">
        {{#each burgers}}
        {{#unless devoured}}
        <li class="list-group-item list-group-item-primary font-italic">
          <strong> {{burger_name}}</strong>
          <button class="change-devoured pull-right" data-id="{{id}}" data-newdevoured="{{devoured}}">Devour</button>
        </li>
        {{/unless}}
        {{/each}}
      </ul>
    </div>

    <div class="col-sm-6">
      <div class="coloredDiv">Burgers Devoured</div>
      <ul class="list-group">
        {{#each burgers}}
        {{#if devoured}}
        <li class="list-group-item list-group-item-danger font-italic font-weight-light">
          <strong> {{burger_name}}</strong>
          <button class="change-devoured pull-right" data-id="{{id}}" data-newdevoured="{{devoured}}" disabled>Devoured</button>
        </li>
        {{/if}}
        {{/each}}
      </ul>
    </div>
  </div>
  <br>

</div>